.ArticleMain {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  /* width: 93%; */
}
.Sports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    gap: 1rem;
  }
.Profile{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
}
  .Image{
    width: 100%;
    justify-content: space-around;
  }
  .Image img{
    width: 100%;
  }

  @media(max-width:1000px)
{
    .Sports{
        grid-template-columns: repeat(1,1fr);
    }
    .Image img{
      width: 100%;
    }
}