.Main{
    padding-top: 2rem;
}
.sub_main{
    margin-right: auto;
    margin-left: auto;
    width: 93%;
    background-color: #EBEEF3;
}

.Text{
    position: relative;
    padding-top: 3rem;
}
.image{
    justify-content:flex-end;
    
}