@font-face{
    font-family: sport;
    src: url(../../assets/Barett\ Street.ttf);
}
p{
    margin-bottom: 0;
}
.Main{
    width: 93%;
    margin-right: auto;
    margin-left: auto;
}

.search {
    justify-content: flex-end !important; 
  }
 .Logo h5{
    font-family: sport;
    font-size: xx-large;
    text-decoration: none !important;
    color: black;
}
a {
    text-decoration: none;
  }
  